<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Tasks</title>
</head>
<body>


    <h1>Task list</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Task text</th>
                <th>Creation date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <form th:action ="@{/tasks/update/{id}(id = ${task.id})}" th:object="${form}" method="post">
                <fieldset>
                    <tr th:each = "task, stat : *{tasks}">
                        <td>
                            <input type="hidden" th:field="*{tasks[__${stat.index}__].id}" th:value="${task.id}"  disabled>
                        </td>
                        <td>
                            <input type="text" th:field="*{tasks[__${stat.index}__].taskText}" th:value="${task.taskText}"  disabled>
                        </td>
                        <td>
                            <input type="text" th:field="*{tasks[__${stat.index}__].creationDate}" th:value="${task.creationDate}" disabled>
                        </td>
                        <td >
                            <select class="form-control" id="dropDownList" th:field="*{tasks[__${stat.index}__].status}" th:value="${task.status}">
                                <option th:each="status : ${statusList}" th:value="${status}" th:text="${status.name}" th:selected="${status.id ==task.status.id}"></option>
                            </select>
                            <input type="submit" th:value="Save"/>
                        </td>
                    </tr>
                </fieldset>
            </form>
        </tbody>
    </table>

</body>
</html>