<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Tasks</title>
</head>
<body>


    <h1>Task list</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Task text</th>
                <th>Creation date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each = "task: ${listTasks}" >
            <td th:text = "${task.taskText}"></td>
            <td th:text="${task.creationDate}"></td>
            <td th:text="${task.status.name}"></td>
            <td><input type="submit" value="Change status"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>